<div  class="maindiv">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white  maindiv">
    <h5 class="my-0 mr-md-auto font-weight-normal" style="color: azure;">浙江机电职业技术学院</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark"></a>
    </nav>
    <a class="btn btn-primary" [routerLink]="['/login']" >登录 </a>
  </div>
  <br>
  
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" style="color: azure;">欢迎！</h1>
    <br>
    <p class="lead" style="text-align: center; color: azure;">这是本次大作业的访问首页</p>
  </div>
  
  <br>
  <br>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">免费</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ 月</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 用户包含</li>
            <li>2 GB 存储空间</li>
            <li>仅邮箱支持</li>
            <li>可以使用帮助中心</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">登录免费使用</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">专业</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ 月</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 用户包含 </li>
            <li>10 GB 存储空间</li>
            <li>高优先级邮件支持</li>
            <li>可以使用帮助中心</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">了解更多</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">企业</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ 月</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 用户包含</li>
            <li>15 GB 存储空间</li>
            <li>最高优先手机及邮件支持</li>
            <li>可以使用帮助中心</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">企业用户接待</button>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    
    <footer class="pt-4 my-md-5 pt-md-5 border-top" >
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="assets/bootstrap-solid.svg" alt="" width="50" height="50">
          <br>
          <small class="d-block mb-3 text-muted">© 2017-2020</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="">Cool stuff</a></li>
            <li><a class="text-muted" href="">Random feature</a></li>
            <li><a class="text-muted" href="">Team feature</a></li>
            <li><a class="text-muted" href="">Stuff for developers</a></li>
            <li><a class="text-muted" href="">Another one</a></li>
            <li><a class="text-muted" href="">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="">Resource</a></li>
            <li><a class="text-muted" href="">Resource name</a></li>
            <li><a class="text-muted" href="">Another resource</a></li>
            <li><a class="text-muted" href="">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="">Team</a></li>
            <li><a class="text-muted" href="">Locations</a></li>
            <li><a class="text-muted" href="">Privacy</a></li>
            <li><a class="text-muted" href="">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>